body {
  background-color: rgba(0, 183, 255, 1);
  background: url("./images/scattered-forcefields.svg");
  font-family: "Century Gothic";
}
.btns {
  background: linear-gradient(to left, yellow, skyblue, tomato);
  transition: all 700ms ease-in;
}
.btns:hover {
  background: linear-gradient(to left, tomato, skyblue, yellow);
}
